<!--
@author Gagandeep Singh
@email singh.gagandeep3911@gmail.com
@create date 2020-03-24 23:22:28
@modify date 2020-03-24 23:22:28
-->

<div class="container-fluid">

  <form class="well form-horizontal" [formGroup]="employeeForm" (ngSubmit)="submitForm()">

    <!-- Form Name -->

    <legend>
      <h2><b>Registration Form</b></h2>
    </legend><br>
    <div>
      <div class="row" style="background-color: beige;">
      <!-- First Name  -->
      <div class="col">
        <div class="form-group">
          <label for="firstName">First Name</label>
          <input
          formControlName="empFirstName"
          id="firstName"
          class="form-control"
          [ngClass]="{'is-invalid': submitted && employeeForm.get('empFirstName').invalid}"
          type="text"
          name="firtName"
          placeholder="Enter First Name">
          <div class="invalid-feedback" *ngIf="submitted && employeeForm.get('empFirstName').invalid">
            <div *ngIf="employeeForm.get('empFirstName').errors['required']">* Required</div>
          </div>

        </div>
      </div>
      <!-- Last name  -->
      <div class="col">
        <div class="form-group">
          <label for="lastName">Last Name</label>
          <input
          formControlName="empLastName"
          type="text"
          name="lastName"
          id="lastName"
          class="form-control"
          [ngClass]="{'is-invalid': submitted && employeeForm.get('empLastName').invalid}"
          placeholder="Enter Last Name">
          <div class="invalid-feedback" *ngIf="submitted && employeeForm.get('empLastName').invalid">
            <div *ngIf="employeeForm.get('empLastName').errors['required']">* Required</div>
          </div>
        </div>
      </div>
    </div>
    <div class="row" style="background-color: lightblue;">
      <!-- date of birth   -->
      <div class="col">
        <div class="form-group">
          <label for="dob">Date of Birth</label>
          <input
          formControlName="empDateOfBirth"
          data-date-end-date="0d"
          type="date"
          id="dob"
          name="dob"
          class="form-control date-picker"
          [ngClass]="{'is-invalid': submitted && employeeForm.get('empDateOfBirth').invalid}"
          >
          <div class="invalid-feedback" *ngIf="submitted && employeeForm.get('empDateOfBirth').invalid">
            <div *ngIf="employeeForm.get('empDateOfBirth').errors['required']">* Required</div>
            <div *ngIf="employeeForm.get('empDateOfBirth').errors['ageIsForbidden']">Employee's Age must be between 18 and 58</div>
            <!-- TODO - Do not show future dates  -->
          </div>
        </div>
      </div>
      <!-- Join date  -->
      <div class="col">
        <div class="form-group">
          <label for="dob">Date of Joining</label>
          <input
          formControlName="empDateOfJoining"
          type="date"
          id="dob"
          name="dob"
          class="form-control"
          [ngClass]="{'is-invalid': submitted && employeeForm.get('empDateOfJoining').invalid}"
          >
          <div class="invalid-feedback" *ngIf="submitted && employeeForm.get('empDateOfJoining').invalid">
            <div *ngIf="employeeForm.get('empDateOfJoining').errors['required']">* Required</div>
            <div *ngIf="employeeForm.get('empDateOfJoining').errors['futureDateForbidden']">* Required</div>
          </div>
        </div>
      </div>
    </div>
    <div class="row" style="background-color: lightgrey;">
      <!-- Marital status  -->
      <div class="col">
        <div class="form-group">
          <label for="status">Matital Status</label>
          <select
          name="status"
          id="status"
          formControlName="empMaritalStatus"
          [ngClass]="{'is-invalid': submitted && employeeForm.get('empMaritalStatus').invalid}"
          class="custom-select">
              <option *ngFor="let s of maritalStatus | keyvalue" [value]="s.key"> {{s.value}} </option>
          </select>
          <div class="invalid-feedback" *ngIf="submitted && employeeForm.get('empMaritalStatus').invalid">Select a Value</div>
      </div>
      </div>
      <!-- Gender  -->
      <div class="col">
        <label>Gender</label>
          <div *ngFor="let gender of genders | keyvalue" class="custom-control custom-radio">
            <input
            formControlName="empGender"
              [ngClass]="{'is-invalid':submitted && employeeForm.get('empGender').invalid}"
              [value]="gender.key"
              class="custom-control-input"
              id="{{gender.key}}"
              type="radio">
            <label class="custom-control-label" for="{{gender.key}}">{{gender.key}}</label>
          </div>
          <div *ngIf="submitted && employeeForm.get('empGender').invalid" class="text-danger">
            <small>Select an Option</small>
          </div>
      </div>
    </div>
    <div class="row" style="background-color: beige;">
      <!-- Deprtment  -->
      <div class="col">
        <div class="form-group">
          <label for="deptid">Department</label>
          <select
          name="deptid"
          id="deptid"
          formControlName="empDepartmentId"
          [ngClass]="{'is-invalid': submitted && employeeForm.get('empDepartmentId').invalid}"
          class="custom-select">
              <option *ngFor="let dept of departments" [value]="dept.departmentId"> {{dept.departmentName}} </option>
          </select>
          <div class="invalid-feedback" *ngIf="submitted && employeeForm.get('empDepartmentId').invalid">Select a Department</div>
        </div>
      </div>
      <!-- Manager  -->
      <div class="col">
        <div class="form-group">
          <label for="managerid">Manager</label>
          <select
          name="managerid"
          id="managerid"
          formControlName="empManagerId"
          [ngClass]="{'is-invalid': submitted && employeeForm.get('empManagerId').invalid}"
          class="custom-select">
              <option *ngFor="let manager of managers" [value]="manager.id"> {{manager | managerInfo}} </option>
          </select>
          <div class="invalid-feedback" *ngIf="submitted && employeeForm.get('empManagerId').invalid">Select a Manager</div>
        </div>
      </div>
    </div>
    <div class="row">
      <!-- Grade  -->
      <div class="col">
        <div class="form-group">
          <label for="empgrade">Grade</label>
          <select
          name="empgrade"
          id="empgrade"
          (change)="gradeIsSelected($event)"
          formControlName="empGrade"
          [ngClass]="{'is-invalid': submitted && employeeForm.get('empGrade').invalid}"
          class="custom-select">
              <option *ngFor="let grade of grades; let i = index;" [value]="grade.grade" #lol> {{ grade | gradeType}} </option>
          </select>
          <div class="invalid-feedback" *ngIf="submitted && employeeForm.get('empGrade').invalid">Select a Grade</div>
        </div>
      </div>
      <!-- Salaray  -->
      <div class="col">
        <div class="form-group" *ngIf="employeeForm.get('empGrade').valid">
          <label for="salary">Salary</label>
          <input
          formControlName="empBasic"
          id="salary"
          class="form-control"
          [ngClass]="{'is-invalid': submitted && employeeForm.get('empBasic').invalid}"
          type="number"
          name="salary"
          placeholder="Enter Salary">
          <div class="invalid-feedback" *ngIf="submitted && employeeForm.get('empBasic').invalid">
            <div *ngIf="employeeForm.get('empBasic').errors['required']">* Required</div>
            <div *ngIf="employeeForm.get('empBasic').errors['salaryIsForbidden']">Salary must be between {{ selectedGrade | gradeType }}</div>
          </div>

        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <!-- Contact number  -->
      <div class="form-group">
        <label for="phonenumber">Contact Number</label>
        <input
        formControlName="empContactNumber"
        id="phonenumber"
        class="form-control"
        [ngClass]="{'is-invalid': submitted && employeeForm.get('empContactNumber').invalid}"
        type="number"
        name="phonenumber"
        placeholder="Enter Contact Number">
        <div class="invalid-feedback" *ngIf="submitted && employeeForm.get('empContactNumber').invalid">
          <div *ngIf="employeeForm.get('empContactNumber').errors['required']">* Required</div>
          <div *ngIf="employeeForm.get('empContactNumber').errors['pattern']">Must be 10 digits, beginning from 8/9</div>
        </div>
      </div>
      </div>

      <div class="col">
        <!-- Email  -->
      <div class="form-group">
        <label for="emailid">Email ID</label>
        <input
        formControlName="empEmailId"
        id="emailid"
        class="form-control"
        [ngClass]="{'is-invalid': submitted && employeeForm.get('empEmailId').invalid}"
        type="email"
        name="emailid"
        placeholder="Enter Email Id">
        <div class="invalid-feedback" *ngIf="submitted && employeeForm.get('empEmailId').invalid">
          <div *ngIf="employeeForm.get('empEmailId').errors['required']">* Required</div>
          <div *ngIf="employeeForm.get('empEmailId').errors['pattern']">Must be 10 digits, beginning from 8/9</div>
        </div>
      </div>
      </div>
    </div>
    <div formGroupName="empHomeAddress">
      <div class="row">
        <!-- Street  -->
        <div class="col">
          <div class="form-group">
            <label for="street">Street</label>
            <input
              formControlName="street"
              id="street"
              class="form-control"
              [ngClass]="{'is-invalid': submitted && employeeForm.get('empHomeAddress.street').invalid}"
              type="text"
              name="street"
              placeholder="Enter Street details">
              <div class="invalid-feedback" *ngIf="submitted && employeeForm.get('empHomeAddress.street').invalid">
                <div *ngIf="employeeForm.get('empHomeAddress.street').errors['required']">* Required</div>
              </div>
          </div>
        </div>
        <!-- landmark  -->
        <div class="col">
          <div class="form-group">
            <label for="landmark">Nearest Landmark</label>
            <input
              formControlName="landmark"
              id="landmark"
              class="form-control"
              [ngClass]="{'is-invalid': submitted && employeeForm.get('empHomeAddress.landmark').invalid}"
              type="text"
              name="landmark"
              placeholder="Enter Landmark">
              <div class="invalid-feedback" *ngIf="submitted && employeeForm.get('empHomeAddress.landmark').invalid">
                <div *ngIf="employeeForm.get('empHomeAddress.landmark').errors['required']">* Required</div>
              </div>
          </div>
        </div>
      </div>
      <div class="row">
        <!-- city  -->
        <div class="col">
          <div class="form-group">
          <label for="city">City</label>
          <input
            formControlName="city"
            id="city"
            class="form-control"
            [ngClass]="{'is-invalid': submitted && employeeForm.get('empHomeAddress.city').invalid}"
            type="text"
            name="city"
            placeholder="Enter City name">
            <div class="invalid-feedback" *ngIf="submitted && employeeForm.get('empHomeAddress.city').invalid">
              <div *ngIf="employeeForm.get('empHomeAddress.city').errors['required']">* Required</div>
            </div>

            </div>
        </div>
        <!-- pincode  -->
        <div class="col">
          <div class="form-group">
            <label for="pcode">Area Pincode</label>
            <input
            formControlName="pincode"
            id="pcode"
            class="form-control"
            [ngClass]="{'is-invalid': submitted && employeeForm.get('empHomeAddress.pincode').invalid}"
            type="number"
            name="pcode"
            placeholder="Enter Pincode">
            <div class="invalid-feedback" *ngIf="submitted && employeeForm.get('empHomeAddress.pincode').invalid">
              <div *ngIf="employeeForm.get('empHomeAddress.pincode').errors['required']">* Required</div>
              <div *ngIf="employeeForm.get('empHomeAddress.pincode').errors['pattern']">Must be 6 digits</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <button class="btn btn-primary" type="submit">Submit</button>
    </div>
    </div>
    </form>
  <pre>
    {{ employeeForm.value | json }}
  </pre>
</div>
<!-- TODO department, manager, grade with async pipe  -->
<!-- TODO Implement multiple phone number  -->

